* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
/* .button {
  justify-content: center;
  margin: auto;
  align-items: center;
  display: flex;
  border-radius: 8px;
  color: rgba(128, 128, 128, 0.972);
  padding: 20px 34px;
  background-color: #44f0cc90;
} */
.lottie-container {
  position: relative;
  top: 50%;
  /* left: 50%; */
}
.channel {
  text-align: center;
  /* padding: 1rem; */
  font-size: 2.5rem;
}
.left {
  position: relative;
  left: -45px;
}
.text {
  position: relative;
  /* left: 160px; */
  font-size: medium;
  font-weight: 800px;
  text-align: center;
  color: gray;
  /* width: 30%; */
}
.carrousel {
  left: 20px;
}
.custom {
  position: absolute;
  right: 660px;
  top: 40rem;
  font-size: 20px;
}
.fade-in {
  animation: fadeIn 2s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    right: 200px;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.empty {
  position: absolute;
  left: 40%;
  top: 84%;
  background-color: lightgray;
  border-radius: 100%;
  height: 8px;
  width: 8px;
}
.full {
  position: absolute;
  left: 39%;
  top: 84%;
  background-color: lightgray;
  border-radius: 100%;
  height: 8px;
  width: 8px;
}
.round {
  position: absolute;
  left: 38%;
  top: 84%;
  background-color: black;
  border-radius: 100%;
  height: 8px;
  width: 8px;
}
.piggyempty {
  position: absolute;
  left: 40%;
  top: 84%;
  background-color: lightgray;
  border-radius: 100%;
  height: 8px;
  width: 8px;
}
.piggyfull {
  position: absolute;
  left: 39%;
  top: 84%;
  background-color: black;
  border-radius: 100%;
  height: 8px;
  width: 8px;
}
.piggyround {
  position: absolute;
  left: 38%;
  top: 84%;
  background-color: lightgray;
  border-radius: 100%;
  height: 8px;
  width: 8px;
}
.cardempty {
  position: absolute;
  left: 40%;
  top: 84%;
  background-color: lightgray;
  border-radius: 100%;
  height: 8px;
  width: 8px;
}
.cardfull {
  position: absolute;
  left: 39%;
  top: 84%;
  background-color: black;
  border-radius: 100%;
  height: 8px;
  width: 8px;
}
.cardround {
  position: absolute;
  left: 38%;
  top: 84%;
  background-color: lightgray;
  border-radius: 100%;
  height: 8px;
  width: 8px;
}
/* .dot_container {
  background: white;
  height: 100px;
  width: 300px;
} */
